<div class="row hero about">
  <div class="hero-text">
    <h1>About Us</h1>
    <h6>Interior Renovation and Exterior Improvement Specialists</h6>
  </div>
</div>

<div class="row light flexbox">
    <div class="col-xs-8">
        <h3 style="text-align: "> Company Overview and Certifications</h3>
        <ul style="text-align:left">
          <li>ABBA Construction LLC is a MBE General Contractor that specializes in interior renovations, specifically commercial and high-end residential properties, and exterior improvements, such as concrete and asphalt projects </li></br>
          <li>We are a boutique Manhattan based firm with a 10-year plus track record, including renovations of over 100 high-end residential units and over 250,000 sq. ft. of commercial office space</li></br>
          <li>We are committed to adhering to all local state and city regulations with the governing agencies, such as Dept. of Building, Dept. of Transportation, and the Landmarks Commission</li></br>
          <li>We consistently meet or exceed project timelines and scope of work, rarely surpassing the awarded contract price </li></br>
        </ul>
    </div>
    <div class="col-xs-4" >
        <div class="row light flexbox">
          <div class="col-xs-6 certifs flexbox" >
             <img src="../images/logos/NYCSmBus.png"/>
             <h6>NYC Department of Small Business Services – Minority Owned Business</h6>
          </div>
          <div class="col-xs-6 certifs flexbox" >
             <img src="../images/logos/NYCDepCon.png"/>
             <h6>NYC Home Improvement Contractor</h6>
          </div>
          <div class="col-xs-6 certifs flexbox" >
             <img src="../images/logos/PortAuth.png"/>
             <h6>Port Authority of New York and New Jersey – Minority Owned Business </h6>
          </div>
          <div class="col-xs-6 certifs flexbox" >
             <img src="../images/logos/EPA.png"/>
             <h6>EPA Lead-Safe Certified Firm</h6>
          </div>
        </div>
    </div>
</div>


<div class="row white"><h3> Services </h3></div></br>
<div class="row white flexbox">
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/cabinetry.png"/>
      <p class="flexbox"> Cabinetry </p></div>
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/electrical.png"/>
      <p class="flexbox"> Electrical </p></div>
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/painting.png"/>
      <p class="flexbox"> Painting </p></div>
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/concrete.png"/>
      <p class="flexbox"> Concrete and Asphalt Work </p></div>

  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/carpentry.png"/>
      <p class="flexbox"> Carpentry </p></div>
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/hvac.png"/>
      <p class="flexbox"> HVAC </p></div>
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/plumbing.png"/>
      <p class="flexbox"> Plumbing and Sprinkler </p></div>
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/window.png"/>
      <p class="flexbox"> Installation of Windows and Doors </p></div>

  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/demolition.png"/>
      <p class="flexbox"> Demoliton </p></div>
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/masonry.png"/>
      <p class="flexbox"> Masonry</p></div>
  <div class="col-xs-3">
      <img class="flexbox img" src="../images/services/flooring.png"/>
      <p class="flexbox"> Flooring and Tiling </p></div>
  <div class="col-xs-3"></div>
</div>
