<div class="row hero contact">
  <div class="hero-text">
    <h1>Contact Us</h1>
    <h6>Reach us easily by Phone or Email</h6>
  </div>
</div>

<div class="row light">
<div class="row white">
  <div class="col-xs-12 " >
    <h6>MINORITY BUSINESS ENTERPRISE </h6>
    <p>1133 Broadway, Suite 401</p>
    <p> New York, NY 10010</p>
    <p>Telephone: 212.727.2777 </p>
    <p>Fax: 917.591.2528 </p>
    <p>info@abba-construction.com</p>
  </div>
</div>
</div>
