<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <div class="container-fluid">
     <div class="navbar row" >
         <div class="col-xs-4 flexbox"><img src="../images/logos/AbbaTeal.jpg"/>
         </div>
         <div class="col-xs-3"></div>
         <div class="col-xs-5 offset-xs-6 flexbox">
         <ul><h5><a id="link" href="/">Home</a></h5></ul>
         <ul><h5><a id="link" href="/about" >About</a></h5></ul>
         <ul><h5><a id="link" href="/projects">Projects</a></h5></ul>
         <ul><h5><a id="link" href="/contact">Contact Us</a></h5></ul>
        </div>
      </div>
    <body>
      {{{body}}}
    </body>
    <div class="row footer">
        <div class="col-xs-6 text-justify">
            <h5>About Us </h5>
            <p>ABBA Construction LLC is a Minority Business Enterprise General Contractor that specializes in interior renovations, specifically commercial and high-end residential properties, and exterior improvements, such as concrete and asphalt projects. </p>
            <h5>Contact Us </h5>
            <p> info@abba-construction.com</p>
        </div>
    </div>
  </div>
</html>
