<div class="row hero projects">
  <div class="hero-text">
    <h1>Sample Projects</h1>
    <h6>Private and Public Municipal Contracts</h6>
  </div>
</div>

<div class="row light">
 <div class="row white flexbox">
  <div class="col-xs-2"><img class="img" width="100%" height="100%" src="../images/logos/HHC.png"></div>
  <div class="col-xs-10 text-justify">
    <h6>Project Name: 160 Water Street, 13th Floor Renovation</h6>
    <h6> Date: Spring 2016 </h6>
    <h6> Contract Size: $1M</h6>
    <ul>
        <li>Project's General Contractor with work consisting of demolition, electric, sprinklers, HVAC, carpentry, carpet tiles and painting </li>
        <li>Project was split into two phases with the client's employees. occupying half the floor while the other half was renovated Construction zone was successfully isolated and no complaints were received from the client's employees </li>
        <li> Proposed a 12-week project timeline, however upon the client's request agreed to a 9-week crash schedule (i.e., after-hour and weekend work). Ultimately completed the project in 7-weeks</li>
    </ul>
  </div>

  <div class="col-xs-2 "><img class="img" width="100%" height="100%" src="../images/logos/NYPD.png"></div>
  <div class="col-xs-10 text-justify">
    <h6>Project Name: 1 Police Plaza Asphalt Project</h6>
    <h6> Date: Spring 2016 </h6>
    <h6>Contract Size: $33K</h6>
    <ul>
        <li>Project's General Contractor with work consisting of preparing and cleaning the existing site, lowering grade to allow for same height upon asphalt application, and applying 5 inches of asphalt to the entire site.</li>
        <li>Effectively worked in the NYPD's high security environment satisfying all background checks and safety protocols </li>
        <li> The client budgeted three days to complete the project; we completed it in one day</li>
    </ul>
  </div>

  <div class="col-xs-2"><img class="img" width="100%" height="100%" src="../images/logos/KewMgmt.png"></div>
  <div class="col-xs-10 text-justify">
    <h6>Project Name: 225 5th Avenue Structural Repair</h6>
    <h6> Date: Spring 2014</h6>
    <h6> Contract Size: $200K</h6>
    <ul>
        <li>General Contractor for the reinforcement of the existing wood joists with new 25 feet steel C-Channel joists</li>
        <li>Coordinated steel delivery via boom truck through the exterior of the building on 5th Avenue </li>
        <li> Installed steel members with no incident directly over a very high-end and busy steak house during normal business hours </li>
    </ul>
  </div>

  <div class="col-xs-2"><img class="img" width="100%" height="100%" src="../images/logos/SkyMgmt.png"></div>
  <div class="col-xs-10 text-justify">
    <h6> Project Name: 218 East 84 Street Building Gut Renovation</h6>
    <h6> Date: Spring 2009 </h6>
    <h6>Contract Size: $1.5M</h6>
    <ul>
        <li>Project's General Contractor with work consisting of completely demoing and renovating the interior of the building and extending the back of the building 6 feet, allowing for larger rear apartments with balconies </li>
        <li>Installing all new plumbing, ventiliation and electric systems </li>
        <li> Restored the building facade and replaced existing roof </li>
    </ul>
  </div>
  </div>
</div>
